@import "./font-face.css";

html {
  font: 14px/20px "Graphik Web Light", Arial, Verdana, sans-serif;
}

body {
  margin: 0;
  text-align: center;
}

header {
  background: #25859a;
  height: 10vh;
  font-size: 2rem;
  line-height: 2rem;
  padding: 2%;
}

header h1 {
  color: white;
}

h1 {
  font-size: 2rem;
  line-height: 2rem;
}

header a {
  text-decoration: none;
  color: white;
}

img {
  width: 50vw;
  border-radius: 50%;
}

button {
  width: 20vw;
  margin: 2rem;
  padding: 2rem;
  border-radius: 5%;
}
